/* 本css为主页面index.html 配置 */

/* 通用样式 */

#carousel {
    margin: 0 auto;
}

#introduction p {
    width: 70%;
    margin: 5px auto;
    text-align: justify;
}

#pcAct, #mobileAct {
    width: 70%;
    text-align: left;
}

#cooperative img {
    width: 100%;
}

#cooperative .box-card {
    height: 300px;
    margin-bottom: 10px;
}

/* PC端样式 */

@media screen and (min-width: 768px) {
    .el-carousel__item img {
        width: 100%;
    }
}

/* 移动端样式 */

@media screen and (max-width: 768px) {
    .itemDiv {
        margin: 0 auto 50px;
    }
    #introduction p {
        width: 100%;
        margin: 5px auto;
        text-align: justify;
    }
    #introductionButton {
        margin: 10px auto;
    }
}